/** @format */
* {
  height: 100%;
  margin: 0;
}

.LoadLogo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.logo {
  height: 200px;
  width: 200px;
}

.loading-spinner {
  height: 25px;
  width: 25px;
  padding: auto;
  margin: auto;
}

@media (max-width: 540px) {
  .logo {
    height: 100px;
    width: 100px;
  }
}
